.loader {
    width: 100vw;
    height: 100vh;
    background-color: #1D1E22;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 100vw;
    height: 100vh;
    border: none;
}